In [2]:
import os

In [23]:
import os
import pandas as pd
path = "./data"
dbnames = os.listdir(path)
nfile = 0
db = path + "/" + "mentalhealth"
dbfiles = os.listdir(db)
pd.read_csv(db+"/"+dbfiles[nfile])

,Unnamed: 0,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,1,37,0,0,0,Yes,3,2,0,1,...,1,2,0,0,0,1,0,2,1,0
1,2,44,1,0,0,No,1,6,0,0,...,2,0,2,0,0,0,0,0,2,0
2,3,31,1,0,0,No,0,4,1,1,...,2,0,0,0,0,1,1,1,2,0
3,4,33,1,0,1,No,2,2,0,1,...,2,0,0,0,1,1,0,2,2,0
4,5,35,0,0,1,Yes,2,1,1,1,...,0,3,2,2,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,743,36,1,0,1,Yes,1,6,0,0,...,2,2,2,2,0,0,0,0,2,0
743,744,32,1,0,1,Yes,3,3,1,1,...,1,3,0,0,0,1,0,0,1,0
744,745,34,1,0,1,No,2,6,0,1,...,2,3,1,1,0,0,0,0,0,0
745,746,46,0,0,0,No,2,4,1,1,...,2,0,1,0,0,0,0,0,0,0
746,747,25,1,0,1,Yes,2,3,0,0,...,1,0,2,0,0,0,0,0,2,0

In [24]:
post ="mentalhealth"
path = "./data"
sub = "/"
dbname = post
dbpath = path + sub + dbname
dbfile = os.listdir(dbpath)
pd.read_csv(dbpath + sub + dbfile[0])

,Unnamed: 0,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,1,37,0,0,0,Yes,3,2,0,1,...,1,2,0,0,0,1,0,2,1,0
1,2,44,1,0,0,No,1,6,0,0,...,2,0,2,0,0,0,0,0,2,0
2,3,31,1,0,0,No,0,4,1,1,...,2,0,0,0,0,1,1,1,2,0
3,4,33,1,0,1,No,2,2,0,1,...,2,0,0,0,1,1,0,2,2,0
4,5,35,0,0,1,Yes,2,1,1,1,...,0,3,2,2,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,743,36,1,0,1,Yes,1,6,0,0,...,2,2,2,2,0,0,0,0,2,0
743,744,32,1,0,1,Yes,3,3,1,1,...,1,3,0,0,0,1,0,0,1,0
744,745,34,1,0,1,No,2,6,0,1,...,2,3,1,1,0,0,0,0,0,0
745,746,46,0,0,0,No,2,4,1,1,...,2,0,1,0,0,0,0,0,0,0
746,747,25,1,0,1,Yes,2,3,0,0,...,1,0,2,0,0,0,0,0,2,0